**/*.o
**/__pycache__/
**/build/
**/*.swp
**/*.ipynb
*.abi3.so
*.egg-info/
dist/
.tox/
.coverage
docs/_build/
docs/source/_generated/
htmlcov/
src/scalib/version.py
src/scalib/build_config.py
.cargo_build*
scalib*.whl
paper/paper.pdf
paper/paper.jats
