include README.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include setup.cfg
include setup.py
include COPYING
include COPYRIGHT
include MANIFEST.in
include pyproject.toml
include tox.ini
include Makefile

recursive-include src/scalib_ext/ranklib *
recursive-include src/scalib_ext/geigen *
recursive-include src/scalib_ext/scalib *
recursive-include src/scalib_ext/scalib-py *
include src/scalib_ext/Cargo.toml
include src/scalib_ext/Cargo.lock
exclude src/scalib/_scalib_ext.abi3.so

recursive-include docs/source *.rst
include docs/conf.py
include docs/make.bat
include docs/Makefile
include docs/requirements.txt
include docs/index.rst

recursive-include examples *.py
recursive-include examples *.rst

#recursive-include docs *
#recursive-include licenses *
#recursive-include scripts *
#
#prune build
#prune docs/_build
#prune docs/api
#
global-exclude *.pyc *.o

