[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
wheel = "*"
setuptools-rust = "*"
auditwheel = "*"
pydata-sphinx-theme = "*"
sphinx = "*"
numpydoc = "*"
matplotlib = "*"
ipython = "*"
pytest = "*"
scipy = "*"
numpy = "*"
scikit-learn = "0.23.1"
[dev-packages]

[requires]
