[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
wheel = "*"
setuptools-rust = "*"
auditwheel = "*"
sphinx-rtd-theme = "*"
numpydoc = "*"
matplotlib = "*"
ipython = "*"
pytest = "*"

[dev-packages]

[requires]
