# Do not add SCALib dependencies here.
# Instead, mock them in conf.py
# pydata-sphinx-theme == 0.12.0
furo == 2024.1.29
sphinx == 7.1.2
sphinxcontrib-bibtex == 2.6.2
# Setuptools installs the pkg_resources module required by spnixcontrib-bibtex == 2.6.2
setuptools == 69.1.0
