name: CI

on: [push,pull_request]

jobs:
    test:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python: [3.6,]
        steps:
            - uses: actions/checkout@v2
            - name: Setup Python
              uses: actions/setup-python@v2
              with:
                  python-version: ${{ matrix.python }}
            - name: Install Tox
              run: pip install tox
            - name: Run tests
              # Run tox using the version of Python in `PATH`
              run: tox -e test,build_docs,codestyle

    build_openblas_windows:
        name: Build OpenBLAS on Windows
        runs-on: windows-2019
        steps:
            - uses: actions/checkout@v2
            - uses: actions/cache@v2
              id: cache-openblas
              with:
                  path: |
                      openblas/inst
                      openblas/libs
                  key: openblas-0.3.14-v3
            - name: Download OpenBLAS source
              if: ${{ steps.cache-openblas.outputs.cache-hit != 'true' }}
              shell: bash
              run: |
                  cd $GITHUB_WORKSPACE
                  mkdir openblas
                  cd openblas
                  curl -L -O https://github.com/xianyi/OpenBLAS/releases/download/v0.3.14/OpenBLAS-0.3.14.tar.gz
                  tar xzf OpenBLAS-0.3.14.tar.gz
                  mkdir OpenBLAS-0.3.14/build
            - name: Enable miniconda
              if: ${{ steps.cache-openblas.outputs.cache-hit != 'true' }}
              uses: conda-incubator/setup-miniconda@v2
              with:
                  miniconda-version: "latest"
                  channels: conda-forge
                  activate-environment: buildenv
            - name: Install openblas build dependencies (with conda)
              if: ${{ steps.cache-openblas.outputs.cache-hit != 'true' }}
              shell: cmd /C CALL {0}
              run: conda install -y cmake=3.19.7 flang=11.0.1 clangdev=11.0.1 perl=5.32.0.1 libflang=11.0.1 ninja=1.10.2
            - name: Compile and install OpenBLAS
              if: ${{ steps.cache-openblas.outputs.cache-hit != 'true' }}
              run: cmd /C CALL build_openblas.bat
            - name: Copy flang libs
              if: ${{ steps.cache-openblas.outputs.cache-hit != 'true' }}
              shell: bash -l {0}
              run: |
                  mkdir -p openblas/libs
                  cp C:/Miniconda3/envs/buildenv/Library/lib/lib*.lib openblas/libs/
                  cp C:/Miniconda3/envs/buildenv/Library/lib/flang*.lib openblas/libs/
            - name: Upload OpenBLAS build
              uses: actions/upload-artifact@v2
              with:
                  name: openblas-windows-2019
                  path: |
                      openblas/inst
                      openblas/libs

    build_wheel_windows:
        name: Build wheel on Windows
        needs: [build_openblas_windows]
        runs-on: windows-2019
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-python@v2
              with:
                  python-version: "3.6"
            - name: Download OpenBLAS build
              uses: actions/download-artifact@v2
              with:
                  name: openblas-windows-2019
                  path: openblas
            - name: Restore conda libs
              shell: bash
              run: |
                  mkdir -p C:/Miniconda3/envs/buildenv/Library/lib
                  cp openblas/libs/*.lib C:/Miniconda3/envs/buildenv/Library/lib/
            - uses: actions/cache@v2
              id: cache-windows-cargo_target_dir
              with:
                  path: |
                      ~/.cargo/registry
                      ~/.cargo/git
                      ${{ github.workspace }}/cargo_build
                  key: ${{ runner.os }}-cargo-${{ hashFiles('src/scalib_ext/Cargo.lock') }}
                  restore-keys: |
                      ${{ runner.os }}-cargo-${{ hashFiles('src/scalib_ext/Cargo.lock') }}
                      ${{ runner.os }}-cargo-
            - name: wheels Windows ${{ matrix.vers }}
              uses: joerick/cibuildwheel@v1.10.0
              env:
                  SCALIB_OPENBLAS_LIB_DIR: ${{ github.workspace }}\openblas\inst\lib
                  CARGO_TARGET_DIR: ${{ github.workspace }}\cargo_build
                  CIBW_ARCHS_WINDOWS: native
                  CIBW_BUILD_VERBOSITY: "1"
                  CIBW_ENVIRONMENT: 'RUST_BACKTRACE=full'
                  CIBW_BUILD: "cp36-win_amd64"
                  # I don't know how to make both normal and doctring tests
                  # work with only one command, so I use shell &&.
                  CIBW_TEST_COMMAND: pytest -ra {project}/tests && pytest -ra --pyargs --doctest-modules scalib
                  CIBW_TEST_EXTRAS: test
            - uses: actions/upload-artifact@v2
              with:
                  name: dist
                  path: ./wheelhouse/*.whl

    build_wheels:
        name: Build wheels on ${{ matrix.os }}  - ${{ matrix.vers }}
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                include:
                    - vers: auto64
                      os: ubuntu-20.04
#                   - vers: aarch64
#                     os: ubuntu-20.04
#                   - vers: arm64
#                     os: macos-10.15
#                   - vers: auto64
#                     os: macos-10.15
        env:
            SCCACHE_VERSION: 0.2.13
            CIBW_MANYLINUX_X86_64_IMAGE: "ghcr.io/simple-crypto/manylinux2014_x86_64:rust-1.51.0"
            #CIBW_BEFORE_ALL_LINUX: "curl https://sh.rustup.rs -sSf | sh -s -- --default-toolchain stable -y"
            CIBW_BUILD_VERBOSITY: "1"
            CIBW_ENVIRONMENT: 'RUST_BACKTRACE=full PATH="$PATH:$HOME/.cargo/bin"'
            CIBW_BUILD: "cp36-*_x86_64"
            # I don't know how to make both normal and doctring tests work with only one command,
            # so I use shell &&.
            CIBW_TEST_COMMAND: pytest -ra {project}/tests && pytest -ra --pyargs --doctest-modules scalib
            CIBW_TEST_EXTRAS: test
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-python@v2
              with:
                  python-version: "3.6"
            - name: wheels Linux ${{ matrix.vers }}
              if: runner.os == 'Linux'
              uses: joerick/cibuildwheel@v1.10.0
              env:
                  CIBW_ARCHS_LINUX: ${{ matrix.vers }}
            - name: wheels Macos ${{ matrix.vers }}
              if: runner.os == 'Macos'
              uses: joerick/cibuildwheel@v1.10.0
              env:
                  CIBW_ARCHS_MACOS: ${{ matrix.vers }}
            - uses: actions/upload-artifact@v2
              with:
                  name: dist
                  path: ./wheelhouse/*.whl

    build_sdist:
        name: Build source distribution
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Install rust
              uses: actions-rs/toolchain@v1
              with:
                  toolchain: stable
                  profile: minimal
            - name: Build sdist
              run: |
                  python -m pip install build
                  python -m build --sdist .
            - uses: actions/upload-artifact@v2
              with:
                  name: dist
                  path: dist/*.tar.gz

    check_dist:
        needs: [build_wheels, build_wheel_windows, build_sdist]
        runs-on: ubuntu-latest
        steps:
            - uses: actions/download-artifact@v2
              with:
                  name: dist
                  path: dist
            - name: Install twine
              run: pip install twine
            - name: Check dist
              run: twine check dist/*

    release:
        needs: [check_dist, test]
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
        runs-on: ubuntu-latest
        steps:
            - uses: actions/download-artifact@v2
              with:
                  name: dist
                  path: dist
            - name: Release
              uses: softprops/action-gh-release@v1
              with:
                  body: |
                      view the CHANGELOG.rst for full changes
                  files: |
                      dist/*
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            - uses: pypa/gh-action-pypi-publish@release/v1
              with:
                  user: __token__
                  password: ${{ secrets.PYPI_API_TOKEN }}

